<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AutorServlet</servlet-name>
        <servlet-class>br.com.treebu.control.AutorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>br.com.treebu.control.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditoraServlet</servlet-name>
        <servlet-class>br.com.treebu.control.EditoraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioServlet</servlet-name>
        <servlet-class>br.com.treebu.control.FuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneroServlet</servlet-name>
        <servlet-class>br.com.treebu.control.GeneroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdiomaServlet</servlet-name>
        <servlet-class>br.com.treebu.control.IdiomaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LivroServlet</servlet-name>
        <servlet-class>br.com.treebu.control.LivroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFuncionarioServlet</servlet-name>
        <servlet-class>br.com.treebu.control.LoginFuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginClienteServlet</servlet-name>
        <servlet-class>br.com.treebu.control.LoginClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagamentoCartaoServlet</servlet-name>
        <servlet-class>br.com.treebu.control.PagamentoCartaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoServlet</servlet-name>
        <servlet-class>br.com.treebu.control.PedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaServlet</servlet-name>
        <servlet-class>br.com.treebu.control.PesquisaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SairServlet</servlet-name>
        <servlet-class>br.com.treebu.control.SairServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>br.com.treebu.control.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutorServlet</servlet-name>
        <url-pattern>/AutorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditoraServlet</servlet-name>
        <url-pattern>/EditoraServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioServlet</servlet-name>
        <url-pattern>/FuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneroServlet</servlet-name>
        <url-pattern>/GeneroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdiomaServlet</servlet-name>
        <url-pattern>/IdiomaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LivroServlet</servlet-name>
        <url-pattern>/LivroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFuncionarioServlet</servlet-name>
        <url-pattern>/LoginFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginClienteServlet</servlet-name>
        <url-pattern>/LoginClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagamentoCartaoServlet</servlet-name>
        <url-pattern>/PagamentoCartaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoServlet</servlet-name>
        <url-pattern>/PedidoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaServlet</servlet-name>
        <url-pattern>/PesquisaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SairServlet</servlet-name>
        <url-pattern>/SairServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
        <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/Erro.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/Erro.jsp</location>
    </error-page>
</web-app>
