/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/11/2017, 16:45:47
    Author     : vinicius caetano
*/

div.background {
    background-image: url('../..//imagem/erro.png');
    border: 1px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin : auto;
    padding: 120px;
}

div.err {
    margin: 100px;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 0.6;
    padding-top: 50px;
    padding-bottom: 50px

}

div.err p {
    margin: 2%;
    font-weight: bold;
    color: #000000;
    padding: 90px;
}

